
main{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  background: url(/balanca.png) no-repeat;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #cbdda0;
  
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  color: #04431b8c;
  border-bottom: solid 5px #04431b78;
  margin-bottom: 20px;
}

.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  
}
.input input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  outline: 0;
  font-size: 25px;
  text-align: center;
  background-color: #cbdda055;
  border: none;
  box-shadow: 0px 0px 5px #04431b;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-shadow:1px 1px 3px #04431b ;
  color: #ebeff4;
}

.input label {
  font-size: 25px;
  text-shadow:1px 1px 3px #04431b ;
  color: #ebeff4;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
button{
  width: 300px;
  height: 40px;
  font-size: 25px;
  background: #cbdda06e;
  color: #ebeff4;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cbdda055;
  box-shadow: 0px 0px 5px #04431b;
  text-shadow:1px 1px 3px #04431b ;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border: none;
}

.result{
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  box-shadow: 1px 1px 3px #04431b;
  color:#ebeff4;
  text-shadow:1px 1px 3px #04431b;
  box-sizing: border-box;
  user-select: none;
  background-color: #cbdda055;
}